.meeting-room-table .row {
    margin: 0;
}

.meeting-room-table h2 {
    margin: 0 !important;
}

.meeting-room-table .orange-col {
    background-color: #f2582c;
    color: #ffffff;
}

.meeting-room-table .small-room {
    border-left: 5px solid #000;
}

.meeting-room-table .stripe:nth-child(even) {
    background-color: rgba(242, 88, 44, 0.25);
}

.meeting-room-table .stripe-2:nth-child(odd) {
    background-color: rgba(242, 88, 44, 0.25);
}

.meeting-room-table .orange-col {
    padding: 5px 15px;
}

.meeting-room-table {
    width: 100%;
}

.meeting-room-table h2 {
    font-size: 28px;
}

.meeting-room-table h3 {
    font-size: 24px;
}

.meeting-room-table h4 {
    font-size: 24px;
}

.sales-game tfoot {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: table;
}

table.sales-game tr td {
    width: 88px;
    font-size: 14px;
}

table.sales-game thead tr td, table.sales-game tfoot tr td, table.sales-game tr td:nth-child(1), table.sales-game tr td:nth-child(2), table.sales-game tr td:nth-child(3) {
    background-color: #f2582c;
    color: #fff;
    font-weight: bold;
}

table.sales-game thead tr td, table.sales-game tfoot tr td {
    background-color: #000 !important;
}

table.sales-game tr td:nth-child(2) {
    width: 230px !important;
}

table.sales-game tr td:nth-child(2) {
    white-space: nowrap;
}